# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Shell scripts (extensions and extensionless dotfiles)
[*.{sh,bash,zsh}]
indent_style = space
indent_size = 4

[{.bashrc,.bash_profile,.zshrc,.zprofile}]
indent_style = space
indent_size = 4

# Markdown
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON
[*.json]
indent_style = space
indent_size = 2

# Makefiles and git config (both require tabs)
[Makefile]
indent_style = tab

[git/.config/git/config]
indent_style = tab

[*.py]
indent_size = 4
